/* RESET CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* TAG GENERICI */

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

dd {
  color: grey;
}

dd a {
  color: grey;
}

/* STILE HEADER */

header {
  background-color: #fff;
  text-align: center;
}

header .main-menu li {
  display: inline-block;
  padding: 15px;
}

header .main-menu li:hover {
  background-color: #b6dbe4;
}

header .main-menu li a {
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
}

/* STILE MAIN */

.container {
  background-image: url(/images/fondo-pag-speciali.jpg?2f95c43d2f5c6ce37bf1838709b316a3);
  padding: 40px;
}

.container h2 {
  margin-left: 20px;
  display: inline-block;
  padding: 5px 10px;
  background: #002d75;
  border-radius: 5px;
  color: #fff;
}

.container .cards {
  display: flex;
  flex-wrap: wrap;
}

.container .cards .card {
  margin: 20px;
  display: flex;
  position: relative;
  flex-basis: calc(100% / 1 - 40px);
}

@media screen and (min-width: 768px) {
  .container .cards .card {
    flex-basis: calc(100% / 2 - 40px);
  }
}

@media screen and (min-width: 1024px) {
  .container .cards .card {
    flex-basis: calc(100% / 3 - 40px);
  }
}

.container .cards .card:hover {
  transform: scale(1.1);
  transition: 0.8s ease;
}

.container .cards .card:hover img {
  opacity: 0.9;
}

.container .cards .card:hover .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.container .cards .card:hover .links h3 {
  padding-bottom: 20px;
  font-size: 1.2em;
}

.container .cards .card:hover .links h3 a {
  color: #fff;
}

.container .cards .card:hover .links svg {
  fill: #fff;
}

.container .cards .card img {
  width: 100%;
  display: block;
  border-radius: 5px;
}

.container .cards .card .links {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-align: center;
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b8dae6;
  padding: 40px;
  text-align: center;
  position: relative;
}

.container2 h2 {
  color: #002d75;
  padding-bottom: 30px;
}

.container2 img {
  width: 70%;
}

.container2 p {
  width: 70%;
  text-align: justify;
  font-weight: bold;
  line-height: 1.5em;
  color: #002d75;
}

.container2 #arrow-left,
.container2 #arrow-right {
  width: calc(3%);
  position: absolute;
  top: calc(50vh);
  display: inline-block;
  padding: 10px;
  background: #fff;
  border-radius: 100%;
}

.container2 #arrow-left:hover,
.container2 #arrow-right:hover {
  transform: scale(1.2);
}

.container2 #arrow-left {
  left: 10px;
}

.container2 #arrow-right {
  right: 10px;
}

/* STILE FOOTER */

footer {
  background-color: #fff;
  padding: 0 40px;
}

footer .footer-main {
  width: 60%;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 1024px) {
  footer .footer-main {
    flex-direction: column;
  }
}

footer .footer-main .footer-right {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1024px) {
  footer .footer-main .footer-right {
    flex-direction: column;
    padding-top: 20px;
  }
}

footer .footer-main .footer-right .footer-card {
  width: calc(100% / 2);
  line-height: 2em;
}

footer .footer-main .footer-right .footer-card h3 {
  color: grey;
}

footer .footer-main .footer-right:last-child h3 {
  padding-top: 20px;
}

